name: Login Tests CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-login:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: |
        cd src/frontend
        npm ci 
        npx cypress install
    - name: Install Chrome
      run: |
        sudo apt-get update
        sudo apt-get install -y google-chrome-stable

    - name: Run login tests
      run: |
        cd src/frontend
        npm test login

    - name: Run Login E2E Tests
      run: |
        cd src/frontend
        npx cypress run --browser chrome --spec "cypress/e2e/login.cy.js"





