name: Login Tests CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-login:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: |
        cd src
        cd frontend
        npm install

    - name: Run login tests
      run: |
        cd src
        cd frontend
        npm test login

    - name: Run Login E2E Tests
      run: |
        cd src
        cd frontend
        npm run test:e2e -- --spec "cypress/e2e/login.cy.js"
