name: Login Tests CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-login:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: |
        cd src/frontend
        npm ci 


    - name: Run login tests
      run: |
        cd src/frontend
        npm test login

    - name: Run Login E2E Tests
      uses: cypress-io/github-action@v6
      working-directory: src/frontend
      with:
        start: npm run dev
        wait-on: 'http://localhost:5173'
        wait-on-timeout: 60
        browser: chrome
        spec: cypress/e2e/login.cy.js
        component: false
        record: false
        publish-summary: true
        config-file: cypress.config.js


