name: Product Tests CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-login:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: |
        cd src/frontend
        npm ci 
        npx cypress install --force

    - name: Install Chrome
      run: |
        sudo apt-get update
        sudo apt-get install -y google-chrome-stable

    - name: Run Product tests
      run: |
        cd src/frontend
        npm test product
        
    - name: Start frontend server
      run: |
        cd src/frontend
        npm run dev &
        npx wait-on http://localhost:5173

    - name: Run Product E2E Tests
      run: |
        cd src/frontend
        npx cypress run --spec "cypress/e2e/product.cy.js" --config-file cypress.config.js






